.Rproj.user
.Rhistory
.RData
**/.DS_Store
~$*
core/cmf/**/build
core/models/**/build
core/projects/**/build
**/.svn
**/*.pyc
model-files/model/ModeChoice.xls
model-files/model/TripModeChoice.xls
model-files/RunModel.bat.bak
model-files/runtime/SetPath.bat.bak
model-files/SetUpModel_PBA50.bat.bak
model-files/scripts/preprocess/taz_densities.job.bak
