.Rproj.user
.Rhistory
.RData
**/.DS_Store
~$*
core/cmf/**/build
core/models/**/build
core/projects/**/build
**/.svn
**/*.pyc
**/TPPL.PRJ
**/TPPL.VAR
**/*-checkpoint.ipynb
utilities/bespoke-requests/fare-study/TPPL*.PRN
model-files/model/ModeChoice.xls
model-files/model/TripModeChoice.xls
