.Rproj.user
.Rhistory
.RData
**/.DS_Store
~$*
core/cmf/**/build
core/models/**/build
core/projects/**/build
**/.svn
**/*.pyc
model-files/model/ModeChoice.xls
model-files/model/TripModeChoice.xls
**/*.class