/data
/models/assignment

# Cube log files 
*.PRN
*.VAR
*.PRJ


# ignore files that git/vscode automatically assumes as modified
utilities/NextGenFwys/metrics/*.csv
utilities/RTP/Emissions/Off Model Calculators/Model Data*.csv
*.class
model-files/runtime/config/jppf-2.4/JPPF-2.4-application-template/classes/*
*.project
utilities/RTP/metrics/metrics*.csv
.project
core/cmf/common-base/.project
core/cmf/common-daf-v2/.project
core/models/censusdata/.project
core/models/synpop/.project
core/models/utils/.project
core/projects/mtc/.project
core/third-party/jppf-2.4/.project
core/third-party/jppf-2.4/client/.project
core/third-party/sqlitejdbc/.project
core/cmf/common-daf-v2/docs/DAF2-Handbook-diagrams.vsd
core/cmf/common-daf-v2/docs/DAF2-Handbook.doc
core/cmf/common-daf-v2/docs/FileMonitor-Overview.doc
core/cmf/common-daf-v2/docs/FileMonitor-Overview.vsd
core/projects/mtc/UECs/accessibility_utility_constants.xls
core/projects/mtc/UECs/accessibility_utility.xls
core/projects/mtc/UECs/AtWorkSubtourFrequency.xls
core/projects/mtc/UECs/AutoOwnership.xls
core/projects/mtc/UECs/CoordinatedDailyActivityPattern.xls
core/projects/mtc/UECs/DestinationChoice.xls
core/projects/mtc/UECs/DestinationChoiceAlternativeSample.xls
core/projects/mtc/UECs/FreeParkingEligibility.xls
core/projects/mtc/UECs/IndividualMandatoryTourFrequency.xls
core/projects/mtc/UECs/IndividualNonMandatoryTourFrequency.xls
core/projects/mtc/UECs/JointTours.xls
core/projects/mtc/UECs/ModeChoice.xls
core/projects/mtc/UECs/ParkingLocationChoice.xls
core/projects/mtc/UECs/StopDestinationChoice.xls
core/projects/mtc/UECs/StopDestinationChoiceAlternativeSample.xls
core/projects/mtc/UECs/StopFrequency.xls
core/projects/mtc/UECs/TourDepartureAndDuration.xls
core/projects/mtc/UECs/TravelTime.xls
core/projects/mtc/UECs/TripModeChoice.xls
core/third-party/jexcelapi/jxlrwtest.xls
model-files/model/accessibility_utility_constants.xls
model-files/model/accessibility_utility.xls
model-files/model/AtWorkSubtourFrequency.xls
model-files/model/AutoOwnership.xls
model-files/model/CoordinatedDailyActivityPattern.xls
model-files/model/DestinationChoice.xls
model-files/model/DestinationChoiceAlternativeSample.xls
model-files/model/FreeParkingEligibility.xls
model-files/model/IndividualMandatoryTourFrequency.xls
model-files/model/IndividualNonMandatoryTourFrequency.xls
model-files/model/JointTours.xls
model-files/model/ModeChoice.xls
model-files/model/ParkingLocationChoice.xls
model-files/model/StopDestinationChoice.xls
model-files/model/StopDestinationChoiceAlternativeSample.xls
model-files/model/StopFrequency.xls
model-files/model/TourDepartureAndDuration.xls
model-files/model/TravelTime.xls
model-files/model/TripModeChoice.xls
model-files/model/TM1.0 version/AutoOwnership_TM1.xls
model-files/model/TM1.0 version/DestinationChoice_TM1.xls
model-files/model/TM1.0 version/ModeChoice_TM1.xls
model-files/model/TM1.0 version/TripModeChoice_TM1.xls
model-files/model/TM1.5.1 version/ModeChoice_TM1.5.1.xls
model-files/model/TM1.5.1 version/TripModeChoice_TM1.5.1.xls
model-files/scripts/block/Capclass_Speed_Capacity.xlsx
model-files/scripts/emfac/Custom_Activity_Templates/E202Y_emissions_MPO-MTC_2035_annual_totalDailyVMT_CustSpeed.xlsx
model-files/scripts/emfac/Custom_Activity_Templates/E202Y_emissions_MPO-MTC_2035_annual_totalDailyVMT.xlsx
model-files/scripts/emfac/Custom_Activity_Templates/E2014_emissions_MPO-MTC_2005_annual_VMTbyVehFuelType_CustSpeed_SB375.xlsx
model-files/scripts/emfac/Custom_Activity_Templates/E2014_emissions_MPO-MTC_2015_annual_totalDailyVMT_CustSpeed_SB375.xlsx
model-files/scripts/emfac/Custom_Activity_Templates/E2014_emissions_MPO-MTC_2015_annual_VMTbyVehFuelType_CustSpeed_SB375.xlsx
model-files/scripts/emfac/Custom_Activity_Templates/E2014_emissions_MPO-MTC_2023_annual_totalDailyVMT_CustSpeed_SB375.xlsx
model-files/scripts/emfac/Custom_Activity_Templates/E2014_emissions_MPO-MTC_2023_annual_VMTbyVehFuelType_CustSpeed_SB375.xlsx
model-files/scripts/emfac/Custom_Activity_Templates/E2014_emissions_MPO-MTC_2026_annual_totalDailyVMT_CustSpeed_SB375.xlsx
model-files/scripts/emfac/Custom_Activity_Templates/E2014_emissions_MPO-MTC_2035_annual_totalDailyVMT_CustSpeed_SB375.xlsx
model-files/scripts/emfac/Custom_Activity_Templates/E2014_emissions_MPO-MTC_2035_annual_VMTbyVehFuelType_CustSpeed_SB375.xlsx
model-files/scripts/emfac/Custom_Activity_Templates/E2014_emissions_MPO-MTC_2050_annual_totalDailyVMT_CustSpeed_SB375.xlsx
model-files/scripts/emfac/Custom_Activity_Templates/E2014_emissions_MPO-MTC_2050_annual_VMTbyVehFuelType_CustSpeed_SB375.xlsx
model-files/scripts/emfac/Custom_Activity_Templates/E2014_emissions_SF9County_2035_annual_totalDailyVMT_CustSpeed_SB375.xlsx
model-files/scripts/emfac/Custom_Activity_Templates/E2017_emissions_MPO-MTC_2005_annual_totalDailyVMT_CustSpeed.xlsx
model-files/scripts/emfac/Custom_Activity_Templates/E2017_emissions_MPO-MTC_2015_annual_totalDailyVMT_CustSpeed.xlsx
model-files/scripts/emfac/Custom_Activity_Templates/E2017_emissions_MPO-MTC_2023_annual_totalDailyVMT_CustSpeed.xlsx
model-files/scripts/emfac/Custom_Activity_Templates/E2017_emissions_MPO-MTC_2030_annual_totalDailyVMT_CustSpeed.xlsx
model-files/scripts/emfac/Custom_Activity_Templates/E2017_emissions_MPO-MTC_2035_annual_totalDailyVMT_CustSpeed.xlsx
model-files/scripts/emfac/Custom_Activity_Templates/E2017_emissions_MPO-MTC_2050_annual_totalDailyVMT_CustSpeed.xlsx
model-files/scripts/emfac/Custom_Activity_Templates/E2021_emissions_MPO-MTC_2005_annual_totalDailyVMT_CustSpeed.xlsx
model-files/scripts/emfac/Custom_Activity_Templates/E2021_emissions_MPO-MTC_2005_annual_VMTbyVehFuelType_CustSpeed.xlsx
model-files/scripts/emfac/Custom_Activity_Templates/E2021_emissions_MPO-MTC_2015_annual_VMTbyVehFuelType_CustSpeed.xlsx
model-files/scripts/emfac/Custom_Activity_Templates/E2021_emissions_MPO-MTC_2023_annual_totalDailyVMT_CustSpeed.xlsx
model-files/scripts/emfac/Custom_Activity_Templates/E2021_emissions_MPO-MTC_2023_annual_VMTbyVehFuelType_CustSpeed.xlsx
model-files/scripts/emfac/Custom_Activity_Templates/E2021_emissions_MPO-MTC_2030_annual_totalDailyVMT_CustSpeed.xlsx
model-files/scripts/emfac/Custom_Activity_Templates/E2021_emissions_MPO-MTC_2035_annual_totalDailyVMT_CustSpeed.xlsx
model-files/scripts/emfac/Custom_Activity_Templates/E2021_emissions_MPO-MTC_2035_annual_VMTbyVehFuelType_CustSpeed.xlsx
model-files/scripts/emfac/Custom_Activity_Templates/E2021_emissions_MPO-MTC_2040_annual_totalDailyVMT_CustSpeed.xlsx
model-files/scripts/emfac/Custom_Activity_Templates/E2021_emissions_MPO-MTC_2050_annual_totalDailyVMT_CustSpeed.xlsx
model-files/scripts/emfac/Custom_Activity_Templates/E2021_emissions_MPO-MTC_2050_annual_VMTbyVehFuelType_CustSpeed.xlsx
model-files/scripts/emfac/Custom_Activity_Templates/E2025_v2.0.0-rc.5_emissions_MPO-MTC_2023_annual_totalDailyVMT_CustSpeed_SB375.xlsx
model-files/scripts/emfac/Custom_Activity_Templates/E2025_v2.0.0-rc.5_emissions_MPO-MTC_2023_annual_totalDailyVMT_CustSpeed.xlsx
model-files/scripts/emfac/Custom_Activity_Templates/E2025_v2.0.0-rc.5_emissions_MPO-MTC_2023_summer_totalDailyVMT_CustSpeed.xlsx
model-files/scripts/emfac/Custom_Activity_Templates/E2025_v2.0.0-rc.5_emissions_MPO-MTC_2023_winter_totalDailyVMT_CustSpeed.xlsx
model-files/scripts/emfac/Custom_Activity_Templates/E2025_v2.0.0-rc.5_emissions_MPO-MTC_2035_annual_totalDailyVMT_CustSpeed_SB375.xlsx
model-files/scripts/emfac/Custom_Activity_Templates/E2025_v2.0.0-rc.5_emissions_MPO-MTC_2035_annual_totalDailyVMT_CustSpeed.xlsx
model-files/scripts/emfac/Custom_Activity_Templates/E2025_v2.0.0-rc.5_emissions_MPO-MTC_2050_annual_totalDailyVMT_CustSpeed_SB375.xlsx
model-files/scripts/emfac/Custom_Activity_Templates/E2025_v2.0.0-rc.5_emissions_MPO-MTC_2050_annual_totalDailyVMT_CustSpeed.xlsx
utilities/TableauAliases.xlsx
utilities/bespoke-requests/bart-boardings-by-access-mode/bart-station-nodes.xlsx
utilities/calibration/workbook_templates/01_UsualWorkAndSchoolLocation_blank.xlsx
utilities/calibration/workbook_templates/02_AutoOwnership_blank.xlsx
utilities/calibration/workbook_templates/04_CoordinatedDailyActivityPattern_blank.xlsx
utilities/calibration/workbook_templates/09_NonWorkDestinationChoice_blank.xlsx
utilities/calibration/workbook_templates/11_TourModeChoice_blank.xlsx
utilities/calibration/workbook_templates/15_TripModeChoice_blank.xlsx
utilities/CoreSummaries/tableau/non-recurring delay helper.xlsx
utilities/CoreSummaries/tableau/Reference.xlsx
utilities/express-lane-prices/All RPLong Lat.xlsx
utilities/NextGenFwys/ModelRuns_Round2.xlsx
utilities/NextGenFwys/ModelRuns.xlsx
utilities/NextGenFwys/TOLLCLASS_Designations--MOVED_TO_tm1_2015_Base_Network_REPO.xlsx
utilities/NextGenFwys/metrics/Input Files/CostingDetails.xlsx
utilities/NextGenFwys/metrics/Input Files/NGFS_CorridorMaps_SketchData_v3.xlsx
utilities/NextGenFwys/metrics/Metrics_Round2/Input Files/NGFS_CorridorMaps_SketchData_R2.xlsx
utilities/prepare-validation-data/Validation_DataFlowDiagram.pptx
utilities/RTP/config_RTP2021/ModelRuns_RTP2021.xlsx
utilities/RTP/config_RTP2025/ModelRuns_RTP2025.xlsx
utilities/RTP/Emissions/GHG_visualizer/yr2005_passveh_CO2_rates.xlsx
utilities/RTP/Emissions/GHG_visualizer/yr2015_passveh_CO2_rates.xlsx
utilities/RTP/Emissions/GHG_visualizer/yr2035_passveh_CO2_rates.xlsx
utilities/RTP/Emissions/Off Model Calculators/update_omc_template.xlsx
utilities/RTP/metrics/CollisionLookupFINAL.xlsx
utilities/RTP/QAQC/Car_ownership_summary_2035.xlsx
utilities/RTP/QAQC/Car_ownership_summary_2050.xlsx
utilities/RTP/strategy_overrides/Vision_Zero/Capclass_Speed_Capacity.xlsx
utilities/taz-data-baseyears/2015/TAZ1454 2015 Land Use.xlsx
utilities/taz-data-baseyears/2015/Additional Unit and HH Balancing/Quick Total Units and HHs Comparison.xlsx
utilities/taz-data-baseyears/2015/Deprecated/Draft 2015 Base Year, Plan Bay Area 2050 030320.xlsx
utilities/taz-data-baseyears/2015/Deprecated/TAZ1454 2010 2015 Parking Difference.xlsx
utilities/taz-data-baseyears/2015/Deprecated/Employment/Re Try this.msg
utilities/taz-data-baseyears/2015/Deprecated/Employment/taz_esri_lodes_nets032320.xlsx
utilities/taz-data-baseyears/2015/Deprecated/Employment/taz_esri_v_lodes_v4.xlsx
utilities/taz-data-baseyears/2015/Deprecated/Employment/taz_esri_v_lodes.xlsx
utilities/taz-data-baseyears/2015/Deprecated/Employment/Try this.msg
utilities/taz-data-baseyears/2015/Documentation/TM 1.5 TAZ 1454 Land Use Documentation Memo.docx
utilities/taz-data-baseyears/2015/Employment/Incommute/2012-2016 CTPP Places to Superdistrict Equivalency.xlsx
utilities/taz-data-baseyears/2015/Employment/Incommute/ACS 2013-2017 Incommute by Industry.xlsx
utilities/taz-data-baseyears/2015/Group Quarters/GQ Research Using 2010 Data by GQ Type.xlsx
utilities/taz-data-baseyears/2015/School Enrollment/tazData_enrollment.xlsx
utilities/taz-data-baseyears/2015/Workers/ACSPUMS_WorkerTotals_2013-2017_Comparisons.xlsx
utilities/taz-data-baseyears/2020/Workers/ACS 2017-2021 Table B08202 County.xlsx
utilities/taz-data-baseyears/2020/Workers/ACS 2017-2021 Table B23025 County.xlsx
utilities/taz-data-baseyears/2020/Workers/ACS 2018-2022 Table B08202 County.xlsx
utilities/taz-data-baseyears/2020/Workers/ACS 2018-2022 Table B23025 County.xlsx
utilities/taz-data-baseyears/2020/Workers/ACSPUMS2017-2021_WorkerTotals_Comparisons.xlsx
utilities/taz-data-baseyears/2020/Workers/ACSPUMS2018-2022_WorkerTotals_Comparisons.xlsx
utilities/taz-data-baseyears/2023/P2A_County_Total.xlsx
utilities/taz-data-baseyears/naics_recode/Missing NAICS Codes between 2017 crosswalk and 2020 data.xlsx
utilities/taz-data-baseyears/naics_recode/NAICS_to_EMPSIX.xlsx
utilities/telecommute/TelecommuteData.xlsx
utilities/toll_calibration/el_gp_summary_ALL_Conditional_formatting.xlsx
